body {
	font-family: "dm DM Serif Display";
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5em;
	background-color: #593566;
}
h1{
	font-family: "dm DM Serif Display" ;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	color: #f0b4ff;

}
.cards {
	display: flex;
	gap: 40px 20px;
	flex-wrap: wrap;
}

.card {
	background-color: #85599e;
	padding: 16px;
	border-radius: 7px;
	border: 1px solid #6e4975;
	width: 285px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.card:hover{
	box-shadow: 5px 5px 10px;

}

.card h2 {
	font-size: 28px;
	line-height: 32px;
	font-family: "IBM Plex Serif";
	margin-bottom: 12px;
	font-weight: 700;
	color: #e0b7ff;
}

.card p {
	margin-bottom: 10px;
	color: #feeeff;
}

.card .actions {
	display: flex;
	gap: 8px;
	justify-content: flex-end;
}

.card .actions a {
	font-weight: 600;
	color: #f9ccff;
	font-size: 13px;
	text-transform: uppercase;
}

.card .actions a:hover {
	color: #b62cf7;
}

.card img {
	width: 100%;
	margin-bottom: 10px;
	object-fit: cover;
	border: 1px solid #7c75f1;
	height: 340px;
}

.filters {
	background-color: #805d91;
	padding: 10px;
	display: flex;
	justify-content: flex-st;
}
.filters form {
	display: flex;
	gap: 15px;
	align-items: center;
	flex-direction: row;
}

.filters form label {
	font-size: 12px;
	
}

.filters form input {
	font-size: 12px;
	height: 30px;
	padding: 5px;
}

.filters form select {
	font-size: 12px;
	height: 30px;
	padding: 5px;
}

.filters form button {
	font-size: 13px;
	background-color: #412b4b;
	padding: 5px 10px;
	color: #ffb5ef;
	border: 1px solid #83699b;
	border-radius: 5px;
}

.header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.button {
	font-size: 13px;
	background-color: #412b4b;
	padding: 5px 10px;
	color: #faeeff;
	border: 1px solid #38303a;
	border-radius: 5px;
	display: inline-block;
	align-items: start;
	justify-content: start;
	margin-right: 20px;
}

.hCard {
	background-color: #ac86b1;
	padding: 16px;
	border-radius: 7px;
	border: 1px solid #533c53;
	width: 800px;
	display: flex;
	gap: 20px;
	flex-direction: row;
	justify-content: space-between;
}

.hCard h2 {
	font-size: 36px;
	line-height: 45px;
	font-family: "IBM Plex Serif";
	margin-bottom: 12px;
	font-weight: 300;
	color: #e5caff;
}

.hCard p {
	margin-bottom: 10px;
}

.hCard .actions {
	display: flex;
	gap: 8px;
	justify-content: flex-end;
}

.hCard .actions a {
	font-weight: 600;
	color: #f5acff;
	font-size: 13px;
	text-transform: uppercase;
}

.hCard .actions a:hover {
	color: #412b4b;
}

.hCard img {
	width: 340px;
	margin-bottom: 10px;
	object-fit: cover;
	border: 1px solid #412b4b;
	height: 340px;

}

form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	/* align-items: center; */
}

.input {
	display: flex;
	gap: 20px;
}

.input p {
	margin-top: 3px;
	color: rgb(236, 212, 255);
	font-size: 14px;
}

.input label.special {
	width: 108px;
	display: flex;
	justify-content: flex-end;
	color: #252525;
	font-weight: 900;
}

