body {
	font-family: "dm DM Serif Display";
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5em;
	background-image: url(../images/bookshop.jpeg);
	background-size: cover;
}
h1{
	font-family: "dm DM Serif Display" ;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	color: #552c5e;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	border-radius: 10px;
}
.cards {
	display: flex;
	gap: 40px 20px;
	flex-wrap: wrap;
}
.card:hover {
	box-shadow: 5px 4px 8px rgb(15, 0, 23);
}
.card {
	background-color: #d992ff;
	padding: 16px;
	border-radius: 7px;
	border: 1px solid #6e4975;
	width: 285px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: box-shadow 0.2s ease;
}

.card h2 {
	font-size: 28px;
	line-height: 32px;
	font-family: "IBM Plex Serif";
	margin-bottom: 12px;
	font-weight: 700;
	color: #604078;
}

.card p {
	margin-bottom: 10px;
}

.card .actions {
	display: flex;
	gap: 8px;
	justify-content: flex-end;
}

.card .actions a {
	font-weight: 600;
	color: #2b1e2d;
	font-size: 13px;
	text-transform: uppercase;
}

.card .actions a:hover {
	color: #b62cf7;
}

.card img {
	width: 100%;
	margin-bottom: 10px;
	object-fit: cover;
	border: 1px solid #7c75f1;
	height: 340px;
}

.filters {
	background-color: #eabfff;
	padding: 10px;
	display: flex;
	justify-content: flex-end;
}
.filters form {
	display: flex;
	gap: 15px;
	align-items: center;
	flex-direction: row;
}

.filters form label {
	font-size: 12px;
	
}

.filters form input {
	font-size: 12px;
	height: 30px;
	padding: 5px;
}

.filters form select {
	font-size: 12px;
	height: 30px;
	padding: 5px;
}

.filters form button {
	font-size: 13px;
	background-color: #daacff;
	padding: 10px 10px;
	color: #ececec;
	border: 1px solid #83699b;
	border-radius: 2px;
}
.button:hover {
	background-color: #83699b;
	border-color: #412b4b;
	color: #f4f4f4;
}
.button-group1:hover {
	background-color: #83699b;
	border-color: #412b4b;
	color: #f4f4f4;
}
.button-group2:hover {
	background-color: #83699b;
	border-color: #412b4b;
	color: #f4f4f4;
}
button.button-group1{
	padding: 5px 10px;
	margin: 0px 5px;
	background-color: #cb87ff;
}
button.button-group2{
	padding: 5px 10px;
	background-color: #cb87ff;

}
.header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.button {
	font-size: 13px;
	background-color: #d7a3ff;
	padding: 5px 10px;
	color: #000000;
	border: 1px solid #f5ccff;
	border-radius: 5px;
	display: inline-block;
	align-items: start;
	justify-content: start;
	margin-right: 20px;
}

.hCard {
	background-color: #ddb7ff;
	padding: 16px;
	border-radius: 7px;
	border: 1px solid #bcbcbc;
	width: 800px;
	display: flex;
	gap: 20px;
	flex-direction: row;
	justify-content: space-between;
	
}


.hCard h2 {
	font-size: 36px;
	line-height: 45px;
	font-family: "IBM Plex Serif";
	margin-bottom: 12px;
	font-weight: 300;
	color: #503e60;
}

.hCard p {
	margin-bottom: 10px;
	color: #76627f;
}

.hCard .actions {
	display: flex;
	gap: 8px;
	justify-content: flex-end;
}

.hCard .actions a {
	font-weight: 600;
	color: #684e6e;
	font-size: 13px;
	text-transform: uppercase;
}

.hCard .actions a:hover {
	color: #412b4b;
}

.hCard img {
	width: 340px;
	margin-bottom: 10px;
	object-fit: cover;
	border: 1px solid #412b4b;
	height: 340px;

}

form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	/* align-items: center; */
}

.input {
	display: flex;
	gap: 20px;
}

.input p {
	margin-top: 3px;
	color: red;
	font-size: 14px;
}

.input label.special {
	width: 108px;
	display: flex;
	justify-content: flex-end;
	color: #a17dc3;
	font-weight: 900;
}
.back {
	display: flex;
	justify-content: center;
	background-color: #d7a3ff;
	border: #2b1e2d solid 1px;
	border-radius: 10px;
	padding: 20px 10px;
	
}
.labeling {
	margin: 10px 5px;	
	align-items: center;
}

